<br />
<br />
<br />


<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>My</h2>
            <p>Reservations</p>
        </div>


        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
            @foreach (var reservation in Model)
            {
                <div class="col-lg-6 menu-item">
                    <div class="menu-content">
                        <a asp-action="Reservation" asp-controller="Reservations" asp-route-id="@reservation.ReservationId">Reservation: @reservation.ReservationId</a><span>Date:@reservation.Date </span>
                    </div>
                    <div class="menu-ingredients">
                        Restaurant: @reservation.RestaurantName 
                    </div>
                </div>
            }




        </div>

    </div>
</section>