@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<br />
<br />
<br />



<h1 class="text-danger">Error.</h1>
<section class="inner-page">
    <div class="container">
        <p>
            @Model
        </p>
    </div>
</section>