<br />
<br />
<br />
<br />

<div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">

                <p>Profile Setings</p>
            </div>
        </div>


        <div class="container" data-aos="fade-up">

            <div class="row mt-5">

                <div class="row-cols-lg-4"  >
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-person"></i>
                            <h4>Username:</h4>
                            <p style="display:block">@Model.Username </p>
                            <a onclick="Edit(this)" class="bi bi-pencil edit"> Edit</a>
                            <form style="display:none" asp-action="EditUsername" asp-controller="Users" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">

                                <div class="col-lg-10 col-md-6 form-group">
                                    <input type="text" class="form-control" placeholder="Username" name="input">
                                    <span class="text-danger">  </span>


                                </div>
                                <button type="submit" class="bi bi-pencil edit">
                                    Edit
                                </button>
                            </form>
                        </div>

                        <div class="open-hours">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p style="display:block">@Model.Email
                            </p>
                            <a onclick="Edit(this)" class="bi bi-pencil edit"> Edit</a>
                            <form style="display:none" asp-action="EditEmail" asp-controller="Users" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">

                                <div class="col-lg-10 col-md-6 form-group">
                                    <input type="text" class="form-control" placeholder="Email" name="input">
                                    <span class="text-danger">  </span>


                                </div>
                                <button type="submit" class="bi bi-pencil edit">
                                    Edit
                                </button>
                            </form>
                        </div>


                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Phone Number:</h4>
                            <p style="display:block">@Model.PhoneNumber</p>
                            <a onclick="Edit(this)" class="bi bi-pencil edit"> Edit</a>
                            <form style="display:none" asp-action="EditPhone" asp-controller="Users" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">

                                <div class="col-lg-10 col-md-6 form-group">
                                    <input type="text" class="form-control" name="input" placeholder="Phone number">
                                    <span class="text-danger">  </span>


                                </div>
                                <button type="submit" class="bi bi-pencil edit" >
                                    Edit
                                </button>
                            </form>

                        </div>

                        <div class="phone">
                            <i class="bi bi-key"></i>
                            <h4>Password:</h4>
                            <p style="display:block">**********</p>
                            <a onclick="Edit(this)" class="bi bi-pencil edit"> Edit</a>
                            <form style="display:none" asp-action="EditPassword" asp-controller="Users" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">

                                <div class="col-lg-10 col-md-6 form-group">
                                    <input type="password" class="form-control"  name="Input" placeholder="Password" >
                                    <input type="password" class="form-control" name="ReInput" placeholder="Confirm Password">

                                    <span class="text-danger">  </span>


                                </div>
                                <button type="submit" class="bi bi-pencil edit">
                                    Edit
                                </button>
                            </form>
                          

                        </div>

                    </div>

                </div>


            </div>

        </div>
        <br />
        
    </section>
</div>

<script>
    function Edit(target) {
     

        var p = target.previousSibling.previousSibling;
        var form = target.nextSibling.nextSibling;
        var a = target;

        if (p.style.display == 'block') {
            p.style.display = 'none'
            a.textContent='Hide'
            form.style.display = 'block'
            var input = form.querySelector('input');
            input.value = p.textContent;
            
        }
        else {
            p.style.display = 'block'
            form.style.display = 'none';
            a.textContent = 'Edit'

        }
       
       
       

    }


</script>