<br />
<br />
<br />
<br />

<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>All</h2>
            <p>Restaurants</p>
        </div>

        <div class="row">


            <div class="col-lg-4 mt-4 mt-lg-0" onclick="location.href='/'" style="cursor: pointer;">

                <div class="box" data-aos="zoom-in" data-aos-delay="200">
                    <span>Rating:</span>
                    <h4>Happy </h4>
                    <p>
                        Address:
                    </p>
                </div>
            </div>



        </div>

    </div>
</section>